<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]--> 
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8">        <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9">               <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js">                  <!--<![endif]-->
<head>
	<meta name="fragment" content="!">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%= _(app).humanize().titleize() %></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<!-- build:css(.) minimized/web_components.css -->
	<!-- example: <link rel="stylesheet" href="bower_components/some/foo.css"> -->
	<!-- FRAMEWORK_INJECT(minimized/web_components.css) -->
	<!-- endbuild -->

	<!-- build:css(.tmp) minimized/main.css -->
	<link rel="stylesheet" href="styles/styles.css">
	<!-- FRAMEWORK_INJECT(minimized/main.css) -->
	<!-- endbuild -->
</head>
<body ng-app="${package}.${app}">

	<!--[if lt IE 7]>
	  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!--[if lt IE 9]>
	  <script src="web_components/es5-shim/es5-shim.js"></script>
	  <script src="web_components/json3/lib/json3.min.js"></script>
	<![endif]-->

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%= _(app).humanize().titleize() %></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <br><br>
    <div class="container">

		<h1><%= _(app).humanize().titleize() %></h1>
		<splash-screen>
		Put here your splash screen.
		</splash-screen>

		<div ng-view="">
			<span ng-init="data.example = 'nothing'">
			Showing: {{data.example}}.
			<input ng-model="data.example">
		</div>

    </div><!-- /.container -->	

	<!-- build:js(.) minimized/bower_components.js -->
	<!-- script src="bower_components/jquery/jquery.js"></script -->
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-touch/angular-touch.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-strap/dist/angular-strap.js"></script>
	<script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
	<script src="bower_components/jsfw_html5routehandler/Html5RouteHandler.js"></script>
	<script src="bower_components/jsfw_otherwisehomeroute/OtherwiseHomeRoute.js"></script>
	<script src="bower_components/jsfw_splashscreendirective/SplashScreenDirective.js"></script>
	<!-- FRAMEWORK_INJECT(minimized/bower_components.js) -->
	<!-- endbuild -->

	<!-- build:js(src) minimized/app.js -->
	<script src="${app}.js"></script>
	<!-- FRAMEWORK_INJECT(minimized/app.js) -->
	<script src="${app}Config.js"></script>
	<!-- endbuild -->

	<script src="minimized/views.js"></script>

</body>
</html>
